
title {
    display: none;
}
header {
    transition: all 0.2s ease-in-out;    
    background: linear-gradient(124deg, cadetblue, lightskyblue, lightsteelblue,lightblue, cornflowerblue);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 8s ease infinite;
    -z-animation: rainbow 8s ease infinite;
    -o-animation: rainbow 8s ease infinite;
    animation: rainbow 12s ease infinite;
    
    margin-bottom: 4%;
    padding: 2%;
    
    display: flex;
    flex-direction: column;

}
h1 { align-self: center; font-weight: bolder;}

body {
    background-color: dimgray;
    color: dimgray;
}

.external {
    display: grid;
    grid-template-columns: 25% 75%;
    
    
}
.container {
    display: flex;
    flex-direction: column;
    
}
.card {
    padding:5px;
    border-radius: 15px;
    background-color: rgb(255, 255, 167);
}
.searchz {
    display: flex;
    flex-wrap: wrap;
    padding:5px;
    align-self: start;
    flex-flow: column;
}
.getForecast {
    /* justify-self: center; */
    max-width: 100px;
    max-height: 60px;
    width: 100px;
    height: 60px;
    background-color: darkolivegreen;
    border-radius: 15px;
}
.ridForecast {
    /* justify-self: center; */
    max-width: 100px;
    max-height: 60px;
    width: 100px;
    height: 60px;
    background-color: orangered;
    border-radius: 15px;
}
.city {
    height: 50px;

}
.buttonDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2%;
}
.cardz {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}















@-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
}      
@-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
}
@keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
}